@model EntityLayer.Concreate.Firm
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FirmAdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/frontend/css/firmadminindex.css">
</head>
<body>
    <div class="welcome-container">
        <div class="welcome-title">
            <div class="firm-name">
                @Model.FirmName
            </div>
            <div class="welcome-text">
                Kurucu Paneline Hoşgeldiniz
            </div>
        </div>
    </div>
</body>

</html>