
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FirmAdminLayout.cshtml";
}

<h2>firma verileri bu sayfada olacak</h2>



asbdısadhvsıaıdu

asbdısadhvsıaıdu
asbdısadhvsıaıdu
asbdısadhvsıaıdu

asbdısadhvsıaıdu
asbdısadhvsıaıdu

asbdısadhvsıaıdu
asbdısadhvsıaıdu
asbdısadhvsıaıdu
asbdısadhvsıaıdu

asbdısadhvsıaıdu
asbdısadhvsıaıdu


asbdısadhvsıaıdu